{% extends 'base.twig' %}

{% block main %}

    {% for element in album %}
    <div class="presentation">
        <img src="{{ element.album_pochette }}" alt="">
        <h1>{{element.artiste_nom}}</h1>
        <p>{{element.album_titre}}</p>
        <p>{{element.album_description}}</p>
    </div>
    {% endfor %}

    {% for items in musique %} 
    <div class="liste-musique">
        <img src="{{ items.album_pochette }}" alt="">
        <p>{{ items.musique_nom }}</p>
        <a href="artiste.php?id={{ items.id_artiste }}">{{ items.artiste_nom }}</a>
        <i class=""></i>
        <p>{{ items.musique_duree }}</p>
    </div>
    {% endfor %}

{% endblock %}