{% extends 'base.twig' %}

{% block main %}
    <h2>Rap :</h2>
    {% for element in albumrap %}
    <figure class="liste-album">
        <a href="album.php?id={{ element.id_album }}">
            <img src="{{ element.album_pochette }}" alt="">
            <figcaption>
                <p>{{ element.album_titre }}</p>
                <a href="artiste.php?id={{ element.id_artiste }}">{{element.artiste_nom}}</a>
            </figcaption>
        </a>
    </figure>
    {% endfor %}

    <h2>Pop :</h2>
    {% for element in albumpop %}
    <figure class="liste-album">
        <a href="album.php?id={{ element.id_album }}">
            <img src="{{ element.album_pochette }}" alt="">
            <figcaption>
                <p>{{ element.album_titre }}</p>
                <a href="artiste.php?id={{ element.id_artiste }}">{{element.artiste_nom}}</a>
            </figcaption>
        </a>
    </figure>
    {% endfor %}

    <h2>Hip-Hop :</h2>
    {% for element in albumhip %}
    <figure class="liste-album">
        <a href="album.php?id={{ element.id_album }}">
            <img src="{{ element.album_pochette }}" alt="">
            <figcaption>
                <p>{{ element.album_titre }}</p>
                <a href="artiste.php?id={{ element.id_artiste }}">{{element.artiste_nom}}</a>
            </figcaption>
        </a>
    </figure>
    {% endfor %}

{% endblock %}